ol {
    padding-left: 30px;
  }
  
  li {
    margin: 5px 0;
  }

  button {
    cursor: pointer;
  }

  li.selected button {
    font-weight: bold;
    background-color: lightseagreen;
    color: white;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }